.ad_banner {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    color: white;
    background-size: cover;
  }
  
  .ad_text {
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  h1 {
    font-size: 70px;
    color: #FF8C00;
  }

  h3 {
    font-size: 25px;
  }

  button {
    background-color: #588b8a;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }