section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    gap: 10px;
    box-sizing: border-box;
  }
  
  .h1 {
    margin-bottom: 10px;
    color: black;
    font-size: 40px;
  }
  
  form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #989898;
    border-radius: 4px;
  }
  
  label {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  input[type=radio] {
    /* margin-right: 5px; */
    /* display: flex;
    flex-wrap: nowrap; */
    height: 30px;
    width: 30px;
    border: 2px;
    margin-left: 15px;
  }
  
  ul {
    padding: 0;
    margin: 10px 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #588b8a;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #45a049;
  } */

  .title_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .input_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
  }

  .radio_container {
      display: flex;
      justify-content: center;
      gap: 80px;
  }

  .ingredient_inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
      width: 50%;
  }

  ul {
    width: 50%;
    display: flex;
      justify-content: center;
  }

  .orange_btn{
    background-color: #FF8C00;
   
    margin-bottom: 20px;
  }

  .green_btn{
    background-color: #588b8a;
    width: 130px;
  }
  
  